<div class="row header">
  <div class="col-xs-3">
    BET365
  </div>
  <div class="col-xs-3">
    Dansk Håndbold Forbund
  </div>
  <div class="col-xs-3">
    Sport i tv
  </div>
  <div class="col-xs-3">
    Live sport
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <img ng-src="images/BettingFirmaLogo.jpg" width="300">
  </div>
  <div class="col-xs-3">
    <img ng-src="images/DHFLogo.jpg" width="300">
  </div>
  <div class="col-xs-3">
    <img ng-src="images/TVOversigt.jpg" width="300">
  </div>
  <div class="col-xs-3">
    <div><img ng-src="images/soccer.gif" width="300"/></div>
  </div>
</div>
